<h1 class="lg:text-8xl md:text-6xl sm:text-4xl hero-text !mr-4">
  <%= @athlete.first_name %>
  <%= @athlete.last_name %>
</h1>
<p><%= @athlete.nationality %></p>
<p><%= @athlete.age %></p>
<p><%= @athlete.home_resort %></p>
<% @athlete.brands.each do |brand| %>
  <p><%= brand.name %></p>
<% end %>


