<nav class="flex justify-between items-center py-4 lg:py-8">
  <div class="flex flex-grow w-1/3 lg:w-1/3 justify-start items-center">

    <label class="btn btn-circle swap swap-rotate" data-action="click->mobile-menu#toggle">
      <!-- this hidden checkbox controls the state -->
      <input type="checkbox" />
      <!-- hamburger icon -->
      <svg
        class="swap-off fill-current"
        xmlns="http://www.w3.org/2000/svg"
        width="32"
        height="32"
        viewBox="0 0 512 512">
        <path d="M64,384H448V341.33H64Zm0-106.67H448V234.67H64ZM64,128v42.67H448V128Z" />
      </svg>

      <!-- close icon -->
      <svg
        class="swap-on fill-current"
        xmlns="http://www.w3.org/2000/svg"
        width="32"
        height="32"
        viewBox="0 0 512 512">
        <polygon
          points="400 145.49 366.51 112 256 222.51 145.49 112 112 145.49 222.51 256 112 366.51 145.49 400 256 289.49 366.51 400 400 366.51 289.49 256 400 145.49" />
      </svg>
    </label>

    <ul class="font-semibold hidden">
      <li class="inline">
        <%= link_to "Brands", "#", class: "inline-block font-secondary px-4 py-2" %>
      </li>
      <li class="inline">
        <%= link_to "Athletes", "#", class: "inline-block font-secondary px-4 py-2" %>
      </li>
      <li class="inline">
        <%= link_to "Reviews", "#", class: "inline-block font-secondary px-4 py-2" %>
      </li>
      <li class="inline">
        <%= link_to "Blog", "#", class: "inline-block font-secondary px-4 py-2" %>
      </li>
    </ul>
  </div>

  <div class="flex justify-content-center align-items-center" style="width:auto">
    <%= link_to "#", class: "navbar-brand" do %>
      <%= image_tag "steezesupplylogo" %>
    <% end %>
  </div>

  <div class="flex flex-grow w-1/3 lg:w-1/3 items-center justify-end">
    <div class="flex items-center">
      <%# <input type="text" placeholder="Type here" class="input lg:mr-4" /> %>
      <% if user_signed_in? %>
        <details class="dropdown dropdown-end">
          <summary class="btn btn-ghost btn-circle">
            <%= image_tag "profile", class:"inline-block p-1 lg:mr-2 btn btn-ghost btn-circle" %>
          </summary>
          <ul>
            <li class="menu dropdown-content bg-base-100 rounded-box z-1 w-52 p-2 shadow-sm">
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete} %>
            </li>
          </ul>
        </details>
      <% else %>
        <li class="inline">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </div>
  </div>
</nav>
